.login_box {
  clear: both;
  margin: 30px auto 0;
  width: 60vw;
}

.login_box * {
  margin-left: 30vw;
  margin-bottom: 2vh;
}

.login_logo {
  height: 20vh;
  width: 60vw;
  text-align: right;
  font: normal normal bold 130px/150px Gmarket Sans TTF;
  letter-spacing: 0px;
  color: #000000;
  float: right;
}

.login_bar {
  width: 20vw;
  height: 3vh;
  margin-bottom: 13vh;
  background: #000000 0% 0% no-repeat padding-box;
  float: right;
}

.login_inpbox {
  width: 34vw;
  height: 10vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 7px solid #858585;
  border-radius: 40px;
  float: right;

  text-align: right;
  font: normal normal bold 40px/46px Gmarket Sans TTF;
  letter-spacing: 0px;
  color: black;
}

.login_txt {
  width: 33vw;
  float: right;
  text-align: right;
  font: normal normal bold 30px/36px Gmarket Sans TTF;
  letter-spacing: 0px;
  color: black;
  border-style: none;
}

.login_button {
  width: 10vw;
  margin-left: 5vw;
  height: 8vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 5px solid #858585;
  border-radius: 3vw;
  float: right;
  text-align: auto;
  font: normal normal bold 30px/35px Gmarket Sans TTF;
  letter-spacing: 0px;
  color: #858585;
}
