.edit {
  margin-top: 9vh;
  padding-left: 50%;
  width: 22vw;
  height: 20vh;
  text-align: right;
  font: normal normal bold 8rem/12rem Gmarket Sans TTF;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.blackLine1 {
  margin-top: 1vh;
  margin-left: 51vw;
  width: 22vw;
  height: 3vh;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
}

.blackLine2 {
  margin-top: 1vh;
  margin-left: 15vw;
  width: 22vw;
  height: 3vh;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
}

.word {
  margin-top: 4vh;
  font: normal normal medium 73px/84px Gmarket Sans TTF;
  font-size: 50px;
}

.enterBox {
  margin-top: 4vh;
  width: 40vw;
  height: 10vh;
  border: 1vh solid #707070;
  border-radius: 10rem;
  padding-right: 3vw;
  text-align: right;
  font-size: 2.5rem;
}

.logoutButton {
  margin-top: 3vh;
  margin-left: 15vw;
  font: normal normal medium 73px/84px Gmarket Sans TTF;
  font-size: 3.3rem;
}

.formstyle {
  padding-right: 28vw;
  text-align: right;
  font: normal normal medium Gmarket Sans TTF;
}

.editButton {
  margin-top: 4vh;
  font: normal normal medium 73px/84px Gmarket Sans TTF;
  font-size: 3.3rem;
}

div {
  overflow-y: scroll;
}

div::-webkit-scrollbar {
  display: none;
}

.location {
  text-align: center;
}

.content {
  margin-bottom: 10vh;
}
